<template>
    <div>
            <section class="section">
                <h1 class="title has-text-centered">Главная страница</h1>
                <section class="section has-text-centered">
                    <img src="https://miro.medium.com/max/800/0*dvVMEPAdpKHnrTs_.png" alt="gopher">
                </section>
            </section>
    </div>
</template>

<script>
</script>