<template>
  <div>
    <header class="section">
        <CreateTodoForm
        class="has-text-centered"
        />
    </header>
    <section class="section">
      <h1 class="title has-text-centered">Все ваши задачи</h1>
      <TodoList/>
    </section>
  </div>
</template>

<script>
import CreateTodoForm from "@/components/CreateTodoForm";
import TodoList from "@/components/TodoList";
export default {
  components: {
    TodoList,
    CreateTodoForm,
  },
};
</script>
