<template>
<div>
  <div class="modal" v-bind:class="classModSuccess">
    <div @click="this.CLOSE" class="modal-background"></div>
    <div class="modal-card has-text-centered">
      <header class="modal-card-head">
        <p class="modal-card-title">Создать новую задачу</p>
        <button @click="this.CLOSE" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <form>
          <input
            class="input"
            type="text"
            placeholder="Введите заголовк задачи"
            v-model="title"
          />
          <div class="field pt-3">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" 
                v-model="completed"
                />
                Выполнено
              </label>
            </div>
          </div>
        </form>
      </section>
      <footer class="modal-card-foot">
        <button @click="createTodo()" class="button is-success">Сохранить</button>
        <button @click="this.CLOSE" class="button is-danger is-end">
          Закрыть
        </button>
      </footer>
    </div>
  </div>
  <button 
  @click="this.SHOW"
  class="button is-otlined">Создать новую заметку</button>
</div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      title: "",
      completed: false,
    };
  },
  computed: {
    ...mapGetters(["VISIBLE"]),
    classModSuccess: function() {
      return {
        "is-active": this.VISIBLE
      };
    }
  },
  methods: {
    ...mapActions(["CREATE_TODO", "SHOW", "CLOSE"]),
    
    createTodo() {
      this.CREATE_TODO({
        title: this.title,
        completed: this.completed
      })
      .then(this.CLOSE)
      .catch((error) =>{
        console.log(error)
      })
    },
  }
};
</script>
