<template>
  <footer class="footer has-background-white">
    <div class="content has-text-centered">
      <p>
        <strong>Todo</strong> разработал
        <a href="https://github.com/Petrakan">Петраков Алексей</a>. The source code is
        licensed.
      </p>
    </div>
  </footer>
</template>

<style>
</style>