<template>
  <nav class="navbar has-shadow is-white" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <router-link :to="{ name: 'home'}" class="navbar-item"><img
          src="https://gblobscdn.gitbook.com/spaces%2F-M-XEvRn3rhe8BDVGkss%2Favatar-rectangle.png?alt=media" width="96" height="40"
        /></router-link>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <router-link :to="{ name: 'home'}" class="navbar-item">Главная</router-link>
        <router-link :to="{ name: 'todos'}" class="navbar-item">Задачи</router-link>
      </div>

      <!-- <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light">
              Регистрация
            </a>
            <a class="button is-light">
              Войти
            </a>
          </div>
        </div>
      </div> -->
    </div>
  </nav>
</template>

<script>
//Js для сворачивания меня на маленьких экранах
document.addEventListener("DOMContentLoaded", () => {
  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(
    document.querySelectorAll(".navbar-burger"),
    0
  );

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {
    // Add a click event on each of them
    $navbarBurgers.forEach(el => {
      el.addEventListener("click", () => {
        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle("is-active");
        $target.classList.toggle("is-active");
      });
    });
  }
});
</script>
