<template>
<div class="modal"
v-bind:class="classIsActive"
>
  <div 
  @click="closePopup"
  class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ modalTitle }}</p>
      <button 
      @click="closePopup"
      class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <slot></slot>
    </section>
    <footer class="modal-card-foot">
      <button
      @click="modalAction" 
      class="button is-success"> {{modalActionButton}} </button>
      <button
      @click="closePopup"
      class="button is-danger">Закрыть</button>
    </footer>
  </div>
</div>
</template>

<script>
export default {
  name: 'popup',
  data() {
    return {
    }
  },
  props: {
    todoPopupVisible: Boolean,
    modalTitle: {
      type: String,
      default: 'Заголовок модального окна'
    },
    modalActionButton: {
      type: String,
      default: 'Ok'
    },
    },
  computed: {
    classIsActive: function() {
      return {
        "is-active": this.todoPopupVisible
      };
    }
  },
  methods: {
    closePopup(){
      this.$emit('closePopup')
    },
    modalAction(){
      this.$emit('modalAction')
    },
  },
};
</script>
