<template>
    <div class="column is-4 ">
      <popup
      v-bind:todoPopupVisible="this.todoPopupVisible"
      modalTitle='Редактировать задачу'
      modalActionButton='Сохранить'
      @modalAction="modalAction(todo, todo.ID, index)"
      @closePopup="closePopup"
        >
        <h1 class="subtitle">{{todo.title}}</h1>
        <p v-if="todo.completed">Выполнено</p>
        <p v-else>Не выполнено</p>
        <section class="section">
          <form>
            <input
              class="input"
              type="text"
              placeholder="Введите заголовк задачи"
              v-model="modalTodoTitle"
            />
            <div class="field pt-3">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox" 
                  v-model="modalCompleted"
                  />
                  Выполнено
                </label>
              </div>
            </div>
          </form>
        </section>
      </popup>
      <div 
      class="card has-background-light"
      v-bind:class="classCardSuccess"
      >
        <div class="card-content">
          <div class="content">
            <h3 class="subtitle">{{ todo.title }}</h3>
          </div>
        </div>
        <footer class="card-footer">
          <div class="buttons mb-2">
            <button v-if="!todo.completed" 
            class="card-footer-item button is-success is-light"
            @click="completedTodo( todo, todo.ID, index)"
            >Выполнено
            </button>
            <button v-else 
            class="card-footer-item button is-danger is-light"
            @click="completedTodo( todo, todo.ID, index)"
            >Не выполнено
            </button>
            <button 
            class="card-footer-item button is-info is-light"
            @click="showPopupTodo"
            >Редактировать
            </button>
            <button 
            class="card-footer-item button is-danger is-light"
            @click="deleteTodo(todo.ID, index)"
            >Удалить
            </button>
          </div>
        </footer>
      </div>
    </div>
</template>

<script>
import axios from 'axios'
import Popup from '@/components/Popup'
import {mapActions, mapGetters} from 'vuex'

export default {
  data() {
    return{
      todoPopupVisible: false,
      modalTodoTitle: "",
      modalCompleted: false,
    }
  },
  components: {
    Popup
  },
  computed: {
      ...mapGetters(['VISIBLE']),
    classCardSuccess: function () {
      return {
        'has-background-warning-light': this.todo.completed,
      }
    },
  },
  props: {
    todo: {
      type: Object,
    },
    index: Number
  },
  methods: {
    ...mapActions([
      'UPDATE_TODO',
      'DELETE_TODO',
      'SHOW'
    ]),

    showPopupTodo() {
      this.todoPopupVisible = true
    },
    closePopup(){
      this.todoPopupVisible = false
    },
    modalAction(todo, todo_id, index) {
      todo.title = this.modalTodoTitle
      todo.completed = this.modalCompleted
      this.todoPopupVisible = false
      this.UPDATE_TODO(index, {
        title : todo.title,
        completed : todo.completed
      })
      .then(axios
            .put('https://fiber-project.herokuapp.com/api/todo/' + todo_id, todo))
      .catch((error)=>{
        console.log(error)
        })
    },

    completedTodo(todo, todo_id, index){
      if (todo.completed === false) {
        todo.completed = true
      } else {
        todo.completed = false
      }
      this.UPDATE_TODO(index, {
        title : todo.title,
        completed : todo.completed
      })
      .then(axios
            .put('https://fiber-project.herokuapp.com/api/todo/' + todo_id, todo))
        .catch((error)=>{
          console.log(error)
        })
    },

    deleteTodo(todo_id, index) {
      this.DELETE_TODO(index)
      .then(axios
            .delete('https://fiber-project.herokuapp.com/api/todo/' + todo_id))
        .catch((error)=>{
          console.log(error)
        })
    }
  }
};
</script>
