<template>
  <div>
    <div class="columns is-multiline">
      <Todo v-for="(todo, index) in TODOS" 
      v-bind:todo="todo"
      v-bind:index="index" 
      :key="todo.ID"
      />
    </div>
  </div>
</template>

<script>
import Todo from "./Todo.vue";
import {mapActions, mapGetters} from 'vuex'

export default {
  components: {
    Todo
  },
  data() {
    return {

    };
  },

  mounted(){
    this.GET_TODOLIST();
  },

  computed: {
    ...mapGetters([
      'TODOS'
    ]),
  },

  methods: {
    ...mapActions([
      'GET_TODOLIST',
    ]),
  }
}
</script>
