<template>
  <div id="app" class="page-wrapper">
    <Menu />
    <div class="content-wrapper">
      <main class="container">
          <router-view />
      </main>
    </div>
    <Footer />
  </div>
</template>

<script>
import Menu from "@/components/Menu";
import Footer from "@/components/Footer";
export default {
  components: {
    Menu,
    Footer
  }
};
</script>